.brand-logo-mini img {

    width: 40px!important;

    height: 40px!important;

}



.navbar-brand > #icon {

    width: 50px !important;

    height: 50px !important;

}

.navbar-brand > #text {

    width: auto !important;

    height: 27px !important;

    padding-left: 5px;

}



.border20{

    border-radius: 20px!important;

}

.border10{

    border-radius: 10px!important;

}

#loader{

    display: none;

}

.profile_cover {
	width: 100%;
	border-radius: 10px;
	height: 250px;
}

.profile_img {
	background-color: #fff;
	width: 150px;
	height: 150px;
	padding: 5px;
	border: 5px solid rgb(3, 121, 255);
	border-radius: 50%;
	margin-top: -90px;
}

.profile_level_icon {
	height: 30px;
	;
}

#profile_adrs {
	max-width: 250px;
}

#profile_edit {
	position: absolute !important;
	margin-left: 115px;
	margin-top: 5px;

}
#edit_close{
    position: absolute !important;
	margin-left: 115px;
    margin-top: 5px;
    display:none;
}

.bkash_pic {
	width: 11rem;
	border-radius: 10px;
	border: 2px solid pink;
}

.editable {
	background-color: #fff;
	border-radius: 5px;
	border: 2px solid #acced4;
	padding: 3px;
	margin: 3px;
	display: inline-block;
	max-width: 100%;
	min-width: 40px;
}

select {
	border-radius: 7px !important;
}

#profile_pic_edit {
    position: absolute;
    margin-left: -117px;
    margin-top: 5px;
    display:none;
}
#save{
    position: absolute !important;
	margin-left: 115px;
    margin-top: 45px;
    display:none;
}
#refer_link{
	
	word-wrap:break-word;
}
#refer_link_copy{
	cursor: copy;
}
#refer_link_copy:hover{
	background: gray;
	color: white;
	border-radius: 5px;
	padding: 2px;
}

.inline-input{
	width:60px !important;
	font-size: 17px;
	border:none; 
	text-align: center;
	border-radius: 5px;
}

.display-none{
	display: none;
}
.notify-icon > div{
	padding: 10px 12px 10px 12px;
    border-radius: 109px;
	margin: 5px;
	
}
.notify-icon > div > h3{
	margin: 0px;
	padding: 0px 8px 0px 8px;
}